body {
    font-family: Arial, sans-serif;
    background-color:skyblue;
    margin: 0;
    padding: 0;
}
div.container {
    width:100%;
    overflow: auto;
  
}

div.container div {
    width:100%;  
    float:centre;
    text-align: center;
}
header {
    background-color: #0074d909;
    color: wheat;
    text-align: center;
    padding: 20px;
}


h1, h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    background-color: gray;
    border: 1px solid #ddd;
    display: inline;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

img {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 20px auto;
}
.video {
margin: auto;
padding: 20px;
}

audio {
    width: 50%;
    border-bottom: 40px;
    padding: 20px;
    

}
iframe {
    width: 560px;
    height: 315px;
    border: none;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin: 10px;
    position: bottom;
    bottom: 0;
    width: 100%;
}
